@charset "UTF-8";
html {
    font-family: $base-font-family;
    font-weight: normal;
    font-size: 100% * ($base-font-size / 12pt);
    line-height: $base-line-height / $base-font-size;
    -webkit-font-smoothing: antialiased;
}

h1 {
    font-weight: bold;
    font-size: 2em;
    line-height: 1em;
    margin-bottom: 0.5em;
    text-indent: 0;
    /* forbid page/column break after it */
    break-after: avoid;
}

h2 {
    font-size: 1.2em;
    font-weight: bold;
    text-indent: 0;
    /* forbid page/column break after it */
    break-after: avoid;
    line-height: 32pt;
    margin-top: 16pt;
}

p {
    text-indent: 2em;
    text-align: justify;
    hyphens: auto;
}

p.dropcap {
    text-indent: 0;
    min-width: 20pt;
}

p.dropcap span.dropcap {
    font-size: 2em * ($base-line-height / $base-font-size);
    float: left;
    line-height: 1;
    margin-right: 0.0625em;
    margin-bottom: -0.2em;
}