@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;1,400&display=swap');

:root {
  --vs-font-family: 'Crimson Text', Georgia, serif;
  --vs-font-feature-settings: 'onum', 'swsh';
  --vs-font-weight-bold: 600;

  --vs--heading-font-feature-settings: 'smcp';
  --vs--heading-font-variant: small-caps;
}

.chapter {
  --vs-section--h2-marker-display: block;
  --vs-section--h2-marker-content: 'Chapter '
    counter(vs-counter-chapter, upper-roman) '.';
}

.stars {
  margin-left: 0;
  text-align: center;
  break-inside: avoid;
}

header {
  font-size: 1.3em;
}
