@charset "UTF-8";
/*
 * For browser viewing:
 * load this style in Web publications (format: webpub)
 */
/* common styles */
/*
 * For all media (print, screen)
 */
/* you can import partial SCSS files */
/* @import '_variables'; */
/* @import '_toc'; */
/* ... */
/*
  Original version:
  https://github.com/vivliostyle/vivliostyle_doc/blob/gh-pages/samples/gutenberg/gutenberg.css
*/
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:500');
html {
  max-width: 90ch;
  margin: auto;
  font-family: Georgia, serif;
}

body {
  margin: 0 2em;
}

@media (max-width: 400px) {
  body {
    margin: 0 1em;
  }
}
@page {
  font-size: small;
  font-family: Georgia, serif;
  margin: 4rem 10%;
  @top-center {
    color: gray;
    font-variant: small-caps;
  }
}
@page :right {
  @bottom-right {
    content: counter(page);
  }
}
@page :left {
  @bottom-left {
    content: counter(page);
  }
}
@page :first {
  @bottom-left {
    content: normal;
  }
  @bottom-right {
    content: normal;
  }
  @top-center {
    content: normal;
  }
}
@page :blank {
  @bottom-left {
    content: normal;
  }
  @bottom-right {
    content: normal;
  }
  @top-center {
    content: normal;
  }
}
nav {
  break-before: right;
}
nav ol {
  list-style: none;
  counter-reset: chap;
  padding-left: 0em;
  line-height: 1.45;
}
nav li {
  break-inside: avoid;
}
nav li a {
  display: inline-flex;
  width: 100%;
  text-decoration: none;
  color: currentColor;
  break-inside: avoid;
  align-items: baseline;
}
nav li a::before {
  margin-left: 1px;
  margin-right: 1px;
  border-bottom: solid 1px lightgray;
  content: '';
  order: 1;
  flex: auto;
}
nav li a::after {
  text-align: right;
  content: target-counter(attr(href, url), page);
  align-self: flex-end;
  flex: none;
  order: 2;
}

@media (min-width: 375px) {
  nav ol {
    padding-left: 3em;
  }
  nav li::before {
    counter-increment: chap;
    content: counter(chap, upper-roman) '.';
    float: left;
    width: 3em;
    margin-left: -3em;
  }
}
/** Titles **/
h1,
h2,
h3,
h4 {
  margin: 2em 0;
  hyphens: none;
  break-after: avoid;
}

h1,
h2 {
  margin: 2em 0;
}

h3,
h4 {
  margin: 1em 0;
}

h2 {
  break-before: right;
}

h3 {
  break-before: page;
}

h2 + section h3 {
  break-before: auto;
}

.author {
  hyphens: none;
}

/** Body text **/
p {
  text-indent: 1.5em;
  margin-top: 0em;
  margin-bottom: 0em;
  hyphens: auto;
  line-height: 1.45;
  orphans: 2;
  widows: 2;
}
p:first-of-type {
  text-indent: 0;
}
p:first-of-type::first-letter {
  font-weight: bold;
  font-size: 1.8em;
  line-height: 1;
  padding-right: 1px;
}

pre,
.pre {
  font-family: 'Source Code Pro', monaco, monospace;
  font-size-adjust: none;
  font-weight: 500;
  font-size: 0.75em;
  margin: 1em auto 1em 2em;
  white-space: pre-wrap;
  line-height: 1.45;
  hyphens: none;
}
pre .language-text,
.pre .language-text {
  font-family: 'Source Code Pro', monaco, monospace;
}

/** Legal Sections **/
.legal pre {
  font-size: xx-small;
  margin: 0 -1em;
}

.copyright {
  break-before: right;
  break-after: page;
}

.copyright .legal {
  padding-top: 10rem;
}

body > footer {
  break-before: left;
}

/* and more... 🖋 */
@page {
  /* if you open the publication on Vivliostyle Viewer, this message will be shown */
  @top-left {
    content: 'theme_screen';
  }
}
/* for wide screen */
body {
  max-width: 800px;
  margin: auto 2rem 2rem;
}

/* highlight footnote */
.footnote {
  vertical-align: super;
  background-color: aliceblue;
  color: gray;
}
.footnote a {
  word-break: break-all;
}

/* and more... 🖋 */

/*# sourceMappingURL=theme_screen.css.map */
