:root {
  --vs-crossref--anchor-text-decoration: none;
  --vs-crossref--anchor-text-decoration-on-hover: underline;
  --vs-crossref--call-display: inline;
  --vs-crossref--call-fig-content: 'Fig. ' target-counter(attr(href), fig, var(--vs-crossref--counter-style));
  --vs-crossref--call-tbl-content: 'Table ' target-counter(attr(href), tbl, var(--vs-crossref--counter-style));
  --vs-crossref--call-cite-content: '[' target-counter(attr(href), cite) ']';
  --vs-crossref--call-margin-inline: 0;
  --vs-crossref--counter-style: decimal;
  --vs-crossref--marker-display: inline;
  --vs-crossref--marker-fig-content: 'Fig. ' counter(fig, var(--vs-crossref--counter-style)) ': ';
  --vs-crossref--marker-tbl-content: 'Table ' counter(tbl, var(--vs-crossref--counter-style)) ': ';
  --vs-crossref--marker-cite-content: '[' counter(cite) ']';
}

:lang(ja) {
  --vs-crossref--call-fig-content: '図' target-counter(attr(href), fig, var(--vs-crossref--counter-style));
  --vs-crossref--call-tbl-content: '表' target-counter(attr(href), tbl, var(--vs-crossref--counter-style));
  --vs-crossref--marker-fig-content: '図' counter(fig, var(--vs-crossref--counter-style)) ': ';
  --vs-crossref--marker-tbl-content: '表' counter(tbl, var(--vs-crossref--counter-style)) ': ';
}

body {
  counter-reset: fig tbl cite;
}

a:is([data-ref='fig'], a[data-ref='tbl'], a[data-ref='cite']) {
  text-decoration: var(--vs-crossref--anchor-text-decoration);
  margin-inline: var(--vs-crossref--call-margin-inline);
}

a:is([data-ref='fig'], a[data-ref='tbl'], a[data-ref='cite']):hover {
  text-decoration: var(--vs-crossref--anchor-text-decoration-on-hover);
}

/**
 * Figure
 */

a[data-ref='fig']::before {
  display: var(--vs-crossref--call-display);
  content: var(--vs-crossref--call-fig-content);
}

figure.fig {
  counter-increment: fig;
}

figure.fig figcaption::before {
  display: var(--vs-crossref--marker-display);
  content: var(--vs-crossref--marker-fig-content);
}

/**
 * Table
 */

a[data-ref='tbl']::before {
  display: var(--vs-crossref--call-display);
  content: var(--vs-crossref--call-tbl-content);
}

figure.tbl {
  counter-increment: tbl;
}

figure.tbl figcaption::before {
  display: var(--vs-crossref--marker-display);
  content: var(--vs-crossref--marker-tbl-content);
}

/*
 * Citation
 */

a[data-ref='cite']::before {
  display: var(--vs-crossref--call-display);
  content: var(--vs-crossref--call-cite-content);
}

ol.cite-items {
  list-style: none;
}

ol.cite-items>li {
  counter-increment: cite;
  position: relative;
}

ol.cite-items>li::before {
  position: absolute;
  left: -2rem;
  display: var(--vs-crossref--marker-display);
  content: var(--vs-crossref--marker-cite-content);
}