:root {
  --vs-endnote--anchor-text-decoration: none;
  --vs-endnote--call-font-size: 0.8em;
  --vs-endnote--call-margin-inline: 0;
  --vs-endnote--section-margin-block: var(--vs-spacing-rlh);
  --vs-endnote--section-ol-list-style-type: decimal;
  --vs-endnote--backlink-display: inline;
}

@media (hover: hover) {
  a:is(.footnote-ref, .footnote-back):hover {
    --vs-endnote--anchor-text-decoration: underline;
  }
}

@media print {
  :root {
    --vs-endnote--backlink-display: none;
  }
}

.footnote-ref > sup {
  font-size: 100%;
}

.footnote-ref {
  font-size: var(--vs-endnote--call-font-size);
  margin-inline: var(--vs-endnote--call-margin-inline);
}

a:is(.footnote-ref, .footnote-back) {
  text-decoration: var(--vs-endnote--anchor-text-decoration);
}

[role='doc-endnotes'] {
  font-size: var(--vs-endnote--section-font-size);
  margin-block: var(--vs-endnote--section-margin-block);
  margin-inline: var(--vs-endnote--section-margin-inline);
}

[role='doc-endnotes'] > ol {
  list-style-type: var(--vs-endnote--section-ol-list-style-type);
}

[role='doc-endnotes'] > hr {
  border-color: var(
    --vs-endnote--section-hr-border-color,
    var(--vs--hr-border-color, var(--vs-border-color))
  );
  border-block-start-width: var(
    --vs-endnote--section-hr-border-width-block-start,
    var(--vs--hr-border-width-block-start, var(--vs-border-width))
  );
}

[role='doc-backlink'] {
  display: var(--vs-endnote--backlink-display);
}
