/* ----------
 * Cover
 * ----------
*/

/* cannot use named page */
// @page cover {
  // counter-increment: none;

  // @bottom-center {
    // content: none;
  // }
// }

.cover {
  // page: cover;
  break-after: page;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .author {
    ul {
      text-align: center;
    }
  }
}

@page :nth(1) {
  counter-increment: none;

  @top-left {
    content: "";
  }

  @top-right {
    content: "";
  }

  @bottom-left {
    content: "";
  }

  @bottom-right {
    content: "";
  }

  @bottom-center {
    content: "";
  }
}

@page :nth(2) {
  counter-reset: p;
}
