/* ----------
 * Title
 * ----------
*/

.author {
  ul {
    list-style: none;
    text-align: right;
    margin: 10pt 0;
    padding: 0;
  }
}

/* ----------
 * Cover
 * ----------
*/

@page cover {
  counter-increment: none;

  @top-left {
    content: '';
  }

  @top-right {
    content: '';
  }

  @bottom-left {
    content: '';
  }

  @bottom-right {
    content: '';
  }

  @bottom-center {
    content: '';
  }
}

.cover {
  page: cover;
  break-after: page;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .author {
    ul {
      text-align: center;
    }
  }
}
