/* ----------
 * Page
 * ----------
*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-break: strict;
}

@page {
  /* JIS A4 */
  size: $page-width $page-height;
  margin: $page-margin-top $page-margin-right $page-margin-bottom $page-margin-left;

  /* nonbre */
  @bottom-center {
    font-size: $nonbre-font-size;
    content: counter(page);
    font-family: $nonbre-font-family;
  }
}

html {
  font-family: $body-font-family;
  font-size: $body-font-size;
  color: $color-black;
  line-height: $body-line-height;

  orphans: 1;
  widows: 1;
}
