@charset "UTF-8";
/*
 * For all media (print, screen)
 */
/* you can import partial SCSS files */
/* @import '_variables'; */
/* @import '_toc'; */
/* ... */
/* ----------
 * Page
 * ----------
*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-break: strict;
}

@page {
  size: 210mm 297mm;
  margin: 25mm 20mm 25mm 20mm;
  /* nonbre */
  @bottom-center {
    font-size: 9pt;
    font-family: 'Hiragino Mincho ProN', serif;
  }
  @top-left {
    font-family: 'Hiragino Mincho ProN', serif;
    font-size: 10pt;
    content: 'vivliostyle-theme-academic のサンプル';
  }
  @top-right {
    font-family: 'Hiragino Mincho ProN', serif;
    font-size: 10pt;
    content: '';
  }
  @bottom-left {
    font-family: 'Hiragino Mincho ProN', serif;
    font-size: 10pt;
    content: '';
  }
  @bottom-right {
    font-family: 'Hiragino Mincho ProN', serif;
    font-size: 10pt;
    content: '';
  }
}
html {
  font-family: 'Hiragino Mincho ProN', serif;
  font-size: 10pt;
  color: #000000;
  line-height: 1.8;
  orphans: 1;
  widows: 1;
}

/* ----------
 * Counter - Page
 * ----------
 * p
*/
@page :nth(1) {
  counter-reset: p;
}
@page {
  counter-increment: p;
  @bottom-center {
    content: counter(p);
  }
}
/* ----------
 * Counter - Headings
 * ----------
 * h1: chapter
 * h2: section
 * h3: subsection
 * h4: subsubsection
*/
h1 {
  counter-reset: section table figure footnote ref;
  /* reset all counters */
}

h2 {
  counter-reset: subsection;
  /* reset counters of lower levels */
  counter-increment: section;
  /* increment counters of current level */
}
h2:before {
  content: counter(section);
}

h3 {
  counter-reset: subsubsection;
  /* reset counters of lower levels */
  counter-increment: subsection;
  /* increment counters of current level */
}
h3:before {
  content: counter(section) '.' counter(subsection);
}

h4 {
  counter-increment: subsubsection;
  /* increment counters of current level */
}
h4:before {
  content: counter(section) '.' counter(subsection) '.' counter(subsubsection);
}

/* ----------
 * Counter - Captions
 * ----------
 * table
 * figure
*/
table caption {
  counter-increment: table;
}
table caption:before {
  content: 'Table ' counter(table);
}
:root:lang(ja) table caption:before {
  content: '表 ' counter(table);
}

[data-ref='table']::after {
  content: 'Table ' target-counter(attr(href), table);
}
:root:lang(ja) [data-ref='table']::after {
  content: '表 ' target-counter(attr(href), table);
}

figure figcaption {
  counter-increment: figure;
}
figure figcaption:before {
  content: 'Figure ' counter(figure);
}
:root:lang(ja) figure figcaption:before {
  content: '図 ' counter(figure);
}

[data-ref='fig']::after {
  content: 'Figure ' target-counter(attr(href), figure);
}
:root:lang(ja) [data-ref='fig']::after {
  content: '図 ' target-counter(attr(href), figure);
}

/* ----------
 * Counter - References
 * ----------
 * ref
*/
.reference li {
  counter-increment: ref;
}
.reference li:before {
  content: '[' counter(ref) ']';
}

[data-ref='ref']::after {
  content: ' [' target-counter(attr(href), ref) ']';
}

/* ----------
 * Counter - Footnotes
 * ----------
 * footnote
*/
.footnotes li {
  counter-increment: footnote;
}
.footnotes li:before {
  content: '*' counter(footnote);
}

.footnote-ref:before {
  content: '*';
  /* content: "*" target-counter(attr(href), footnote); */
}

/* ----------
 * Nocounter
 * ----------
 * don't increment any counters
*/
.nocounter {
  counter-increment: none;
}
.nocounter:before {
  content: '';
}

/* ----------
 * Base - Headings
 * ----------
*/
h1 {
  margin: 8pt auto 4pt;
  font-size: 20pt;
  line-height: 1.5;
  text-align: center;
}

h2 {
  margin: 8pt auto 4pt;
  font-size: 14pt;
}
h2:before {
  font-size: 14pt;
}

h3 {
  margin: 4pt auto 2pt;
  font-size: 12pt;
}
h3:before {
  font-size: 12pt;
}

h4 {
  margin: 4pt auto 2pt;
  font-size: 10pt;
}
h4:before {
  font-size: 10pt;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  font-family: 'Hiragino Kaku Gothic ProN', sans-serif;
  font-weight: bold;
  break-after: avoid;
}

h2::before,
h3::before,
h4::before {
  line-height: 0;
  margin-right: 5pt;
}

/* ----------
 * Base - Table, Figure
 * ----------
*/
table {
  border-collapse: collapse;
}
table thead {
  border-bottom: 1px solid;
}
table tr:first-of-type {
  border-top: 1px solid;
}
table tr:last-of-type {
  border-bottom: 1px solid;
}
table th {
  text-align: center;
  font-family: 'Hiragino Kaku Gothic ProN', sans-serif;
}
table th,
table td {
  padding-right: 5pt;
}
table th:first-child,
table td:first-child {
  padding-left: 5pt;
}

figure {
  text-align: center;
}
figure img {
  max-width: 10cm;
  max-height: 8cm;
}

table,
figure {
  margin: 10pt auto;
}
table caption:before,
table figcaption:before,
figure caption:before,
figure figcaption:before {
  margin-right: 1rem;
}

[data-ref] {
  color: inherit;
}

/* ----------
 * Base - List
 * ----------
*/
ol,
ul {
  padding-left: 20pt;
}

ol.nostyle,
ul.nostyle {
  list-style: none;
}

.reference {
  padding-left: 0;
}
.reference li {
  display: flex;
  list-style: none;
  word-break: break-all;
}
.reference li:before {
  display: marker;
  margin-right: 5pt;
  word-break: normal;
}

/* ----------
 * Base - Footnotes
 * ----------
*/
.footnotes hr {
  border: 0;
  border-top: 1px solid #000000;
  margin: 5pt auto;
}
.footnotes ol {
  padding: 0;
  list-style: none;
}
.footnotes li {
  display: flex;
}
.footnotes li:before {
  display: marker;
  margin-right: 5pt;
}

/* ----------
 * Base - Nocounter
 * ----------
*/
.nocounter:before {
  margin-right: 0;
}

/* ----------
 * Base - Text
 * ----------
*/
.right {
  text-align: right;
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

p {
  margin: 0;
  text-align: justify;
  text-indent: 1em;
}

strong {
  font-family: 'Hiragino Kaku Gothic ProN', sans-serif;
  font-weight: bold;
}

a,
a:hover,
a:focus,
a:visited {
  color: #000000;
  text-decoration: none;
}

/* ----------
 * Title
 * ----------
*/
.author ul {
  list-style: none;
  text-align: right;
  margin: 10pt 0;
  padding: 0;
}

/* ----------
 * Cover
 * ----------
*/
@page cover {
  counter-increment: none;
  @top-left {
    content: '';
  }
  @top-right {
    content: '';
  }
  @bottom-left {
    content: '';
  }
  @bottom-right {
    content: '';
  }
  @bottom-center {
    content: '';
  }
}
.cover {
  page: cover;
  break-after: page;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.cover .author ul {
  text-align: center;
}

/* ----------
 * Math
 * ----------
*/
br + .math-inline {
  display: block;
  text-align: center;
  margin: 1rem 0;
}

.math-inline + br {
  display: none;
}

/* ----------
 * Code
 * ----------
*/
code,
kbd,
pre,
samp {
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
}

pre {
  tab-size: 4;
  box-decoration-break: clone;
  text-align: left;
  white-space: pre-wrap;
}

*:not(pre) > code {
  color: #666666;
  font-weight: bold;
  padding: 0pt 2pt;
  border-radius: 1pt;
  background-color: #eeeeee;
}

/* ----------
 * Frame
 * ----------
*/
.frame {
  border: 1pt solid;
  padding: 10pt;
  margin: 10pt auto;
  font-weight: bold;
}

/* and more... 🖋 */

/*# sourceMappingURL=theme_common.css.map */
