@import '@vivliostyle/theme-base';
@import '@vivliostyle/theme-base/page';

@import '@vivliostyle/theme-base/prism';
@import '@vivliostyle/theme-base/prism/theme-prism';

/**
 * Theme variables
 */
:root {
  --vs-theme-slide--section-align-items: center;
  --vs-theme-slide--section-justify-content: center;
  --vs-theme-slide--blockquote-mark-color: #d6a;
  --vs-theme-slide--table-heading-color-bg: rgb(0, 0, 0, 0.1);
  --vs-theme-slide--page-ref-call-color: forestgreen;
  --vs-theme-slide--page-ref-call-content: '(p.'
    target-counter(attr(href url), page) ')';
  --vs-theme-slide--max-inline-size-on-screen: 40rem;
  --vs-theme-slide--cover-page-color-bg: #212057;
  --vs-theme-slide--cover-page-color-body: #fff;
  --vs-theme-slide--cover-page-align-items: center;
  --vs-theme-slide--cover-page-justify-content: center;
  --vs-theme-slide--image-full-page-margin: 0;
  --vs-theme-slide--image-full-page-object-fit: cover;
}

:root {
  --vs-font-family: 'Noto', 'YuGothic', 'Yu Gothic', 'Meiryo', sans-serif;
  --vs-font-size: 16pt;

  --vs--heading-text-align: var(--vs-theme-slide--section-align-items, center);
  --vs--monospace-font-family:
    'Source Code Pro', 'Andale Mono', 'Courier', 'Courier New', 'Yu Gothic',
    'YuGothic', 'Hiragino Sans', 'Hiragino Kaku Gothic ProN', 'Meiryo',
    monospace;
  --vs--monospace-font-weight: var(--vs-font-weight-bold);
  --vs--h1-font-size: 2em;
  --vs--h2-font-size: 1.8em;
  --vs--h3-font-size: 1.5em;
  --vs--h4-font-size: 1.33em;
  --vs--h5-font-size: 1.17em;
  --vs--h6-font-size: 1em;
  --vs--h1-text-color: #212057;
  --vs--h2-text-color: #e84e39;
  --vs--h3-text-color: #e84e39;
  --vs--h4-text-color: #e84e39;
  --vs--anchor-text-color: #3498db;
  --vs--blockquote-margin-inline: 2em var(--vs-spacing-inline-indent);
  --vs--pre-font-size: 0.83rem;
  --vs--figcaption-font-size: 0.83rem;
  --vs--figcaption-margin-block: 0;
  --vs--table-font-size: 0.83rem;

  --vs-page--mbox-top-right-content: env(pub-title);
  --vs-page--mbox-top-right-corner-content: counter(page);
  --vs-page--mbox-font-size: 11pt;
  --vs-page--mbox-right-inner-padding-right: 3mm;
  --vs-page--mbox-left-padding-right: 2mm;
  --vs-page--margin-top: 15mm;
  --vs-page--margin-bottom: 15mm;
  --vs-page--margin-left: 15mm;
  --vs-page--margin-right: 15mm;
}

section {
  display: flex;
  flex-direction: column;
  align-items: var(--vs-theme-slide--section-align-items);
  justify-content: var(--vs-theme-slide--section-justify-content);
  width: 100%;
}

section > *:not(:last-child) {
  margin-block-end: 0;
}

@media print {
  section:first-child,
  :not(:is(h1, h2, h3, h4, h5, h6)) + section {
    break-before: page;
    height: 100vh;
  }
}

@media screen {
  section:first-child,
  :not(:is(h1, h2, h3, h4, h5, h6)) + section {
    padding: 0
      max(
        calc(50vw - var(--vs-theme-slide--max-inline-size-on-screen) * 0.5),
        var(--vs-spacing-inline-indent)
      );
  }
}

p {
  break-inside: avoid;
}

section > hr {
  align-self: stretch;
}

blockquote::before {
  color: var(--vs-theme-slide--blockquote-mark-color);
  content: '❝';
  float: left;
  font-size: 250%;
  margin-left: -0.83em;
  margin-top: -0.25em;
}

thead,
tfoot {
  background: var(--vs-theme-slide--table-heading-color-bg);
}

a[href^='#'] {
  color: var(--vs-theme-slide--page-ref-call-color);
  --vs--anchor-text-decoration: none;
}

a[href^='#']::after {
  content: var(--vs-theme-slide--page-ref-call-content);
}

@media screen {
  a[href^='#']::after {
    content: '(p.XXX)';
  }
}

/*
 * cover pages
 */

.cover,
section:has(> .cover:first-child) {
  --vs--h1-font-size: 2.8rem;
  --vs--h1-font-weight: 600;
  --vs--h1-text-align: var(--vs-theme-slide--cover-page-align-items, center);
  --vs--h2-font-size: 1.25rem;
  --vs--h2-font-weight: 500;
  --vs--h2-text-align: var(--vs-theme-slide--cover-page-align-items, center);
  --vs--anchor-text-color: var(--vs-theme-slide--cover-page-color-body);
  --vs--h1-text-color: var(--vs-theme-slide--cover-page-color-body);
  --vs--h2-text-color: var(--vs-theme-slide--cover-page-color-body);
  --vs--h3-text-color: var(--vs-theme-slide--cover-page-color-body);
  --vs--h4-text-color: var(--vs-theme-slide--cover-page-color-body);
  --vs-color-foreground: var(--vs-theme-slide--cover-page-color-body);
  --vs-color-background: var(--vs-theme-slide--cover-page-color-bg);
  color: var(--vs-theme-slide--cover-page-color-body);
  display: flex;
  flex-direction: column;
  align-items: var(--vs-theme-slide--cover-page-align-items);
  justify-content: var(--vs-theme-slide--cover-page-justify-content);
}

@media screen {
  .cover,
  section:has(> .cover:first-child) {
    background-color: var(--vs-theme-slide--cover-page-color-bg);
  }
}

.cover h1,
section:has(> .cover:first-child) h1 {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  align-items: var(--vs-theme-slide--cover-page-align-items);
  justify-content: var(--vs-theme-slide--cover-page-justify-content);
}

.cover .author ul,
section:has(> .cover:first-child) .author ul {
  text-align: center;
}

@page cover {
  background-color: var(--vs-theme-slide--cover-page-color-bg);

  .cover:not(h1),
  section:has(> .cover:first-child) {
    height: 100vh;
  }
}

/*
 * image full pages
 */

:is(
  section:not(:has(> :is(h1, h2, h3, h4, h5, h6):first-child)),
  section:has(> :is(h1, h2, h3, h4, h5, h6)[hidden]:first-child)
):has(> p > img:only-child) {
  page: image-full;
}

@media print {
  :is(
      section:not(:has(> :is(h1, h2, h3, h4, h5, h6):first-child)),
      section:has(> :is(h1, h2, h3, h4, h5, h6)[hidden]:first-child)
    )
    > p
    > img:only-child {
    display: block;
    width: 100vw;
    height: 100vh;
    object-fit: var(--vs-theme-slide--image-full-page-object-fit);
  }
}

@page image-full {
  --vs-page--mbox-visibility: hidden;
  margin: var(--vs-theme-slide--image-full-page-margin);
}
