@import './variables.scss';

@mixin page-top-style() {
  content: '';
  margin-bottom: 8mm;
  background-color: $color_black;
}

@media screen {
  body {
    margin: auto 4rem;
    padding-bottom: 4rem;
  }
  article {
    margin: 0 auto;
    max-width: 60rem;
  }
  section {
    clear: both;
  }

  figure {
    max-width: 50rem;
  }

  .footnote {
    vertical-align: super;
    background-color: rgba(214, 255, 0, 0.4);
    margin: 0 0.1rem;
    line-height: 0;

    a {
      word-break: break-all;
    }
  }

  a[data-ref='sec'],
  a[data-ref='subsec'],
  a[data-ref='fig'],
  a[data-ref='tbl'],
  a[data-ref='cite'] {
    color: $color_red;
    background-color: rgba(255, 0, 0, 0.3);
  }
  a[data-ref='sec']::before {
    content: 'XXX 章';
  }
  a[data-ref='subsec']::before {
    content: 'XXX.XXX 章';
  }
  a[data-ref='fig']::before {
    content: '図 XXX';
  }
  a[data-ref='tbl']::before {
    content: '表 XXX';
  }
  a[data-ref='cite']::before {
    content: '[XXX]';
  }
}

@media print {
  :root {
    widows: 3;
    orphans: 3;
    hyphens: auto;
    font-size: 75%;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    break-after: avoid;
  }

  tr,
  th,
  td {
    break-inside: avoid;
  }

  .footnote {
    float: footnote;
    text-align: left;
  }
}

@page {
  size: $page-width $page-height;
  margin-top: $page-margin-top;
  margin-bottom: $page-margin-bottom - 6mm;
  marks: crop cross;

  @top-left-corner {
    @include page-top-style();
    margin-top: -$page-bleed;
    margin-left: -$page-bleed;
  }
  @top-center {
    @include page-top-style();
    margin-top: -$page-bleed;
    margin-left: -1mm;
    margin-right: -1mm;
    padding-left: 1mm;
    padding-right: 1mm;
  }
  @top-right-corner {
    @include page-top-style();
    margin-top: -$page-bleed;
    margin-right: -$page-bleed;
  }

  @bottom-left-corner {
    content: '';
    margin-top: -8mm;
    margin-bottom: -$page-bleed;
    margin-left: -$page-bleed;
    background-color: $color_white;
    z-index: 1000;
  }
  @bottom-right-corner {
    content: '';
    margin-top: -8mm;
    margin-bottom: -$page-bleed;
    margin-right: -$page-bleed;
    background-color: $color_white;
    z-index: 1000;
  }
}

// Cover page
@page :first {
  margin: 0;
  background-color: $color_red;

  @top-left {
    content: '';
  }
  @top-center {
    content: none;
  }
  @top-right {
    content: '';
  }

  @bottom-center {
    content: none;
  }
  @bottom-left {
    content: '';
    border: none;
  }
  @bottom-right {
    content: '';
    border: none;
  }
}

@page :left {
  margin-left: $page-margin-outer;
  margin-right: $page-margin-inner;

  @top-center {
    content: env(pub-title);
    color: $color_white;
    text-align: left;
    padding-top: 12mm;
  }
  @bottom-left {
    content: counter(page);
    border-left: 1px solid;
    margin-top: 15mm;
    margin-bottom: -$page-bleed;
    padding: 0 4mm 15mm 4mm;
    background-color: $color_white;
  }
}

@page :right {
  margin-left: $page-margin-inner;
  margin-right: $page-margin-outer;

  @top-center {
    content: env(doc-title);
    color: white;
    text-align: right;
    padding-top: 12mm;
  }
  @bottom-right {
    content: counter(page);
    border-right: 1px solid;
    margin-top: 15mm;
    margin-bottom: -$page-bleed;
    padding: 0 4mm 15mm 4mm;
    background-color: white;
  }
}

// style for footnote top borders
@-adapt-footnote-area::before {
  margin-inline-start: -1000px;
  margin-inline-end: 70%;
  margin-block-end: 0.8em;
}
@-adapt-footnote-area {
  word-break: break-all;
}
