/** Legal Sections **/

// TODO: https://github.com/vivliostyle/vfm/issues/77
.pre.legal {
  font-size: xx-small;
  margin: 0 -1em;
}

.copyright {
  break-before: right;
  break-after: page;
}

.copyright .legal {
  padding-top: 10rem;
}

body > footer {
  break-before: left;
}
