@import 'theme_common';

@font-face {
  font-family: 'FPL Neu';
  src: url('https://github.com/vivliostyle/vivliostyle_doc/blob/gh-pages/samples/gutenberg/fonts/fp9r8a.ttf?raw=true');
}

@font-face {
  font-family: 'FPL Neu';
  src: url('https://github.com/vivliostyle/vivliostyle_doc/blob/gh-pages/samples/gutenberg/fonts/fp9b8a.ttf?raw=true');
  font-weight: bold;
}

@font-face {
  font-family: 'FPL Neu';
  src: url('https://github.com/vivliostyle/vivliostyle_doc/blob/gh-pages/samples/gutenberg/fonts/fp9ri8a.ttf?raw=true');
  font-style: italic;
}

@font-face {
  font-family: 'FPL Neu';
  src: url('https://github.com/vivliostyle/vivliostyle_doc/blob/gh-pages/samples/gutenberg/fonts/fp9bi8a.ttf?raw=true');
  font-weight: bold;
  font-style: italic;
}

html {
  font-family: 'Palatino Linotype', 'FPL Neu', Palatino, Georgia, serif;
}

@page {
  font-family: 'Palatino Linotype', 'FPL Neu', Palatino, Georgia, serif;
  @top-center {
    content: 'White Fang';
  }
}

// https://vivliostyle.github.io/vivliostyle_doc/ja/events/vivliostyle-css-paged-media-20210410/slide.html#use-css-paged-media
@page :first {
  counter-reset: part;
}

@page part:nth(1) {
  counter-increment: part;
}

.part section.level2 {
  page: part;

  h2 {
    counter-reset: chapter;
    &::before {
      content: 'Part ' counter(part, upper-roman);
      display: block;
    }
  }

  h3 {
    counter-increment: chapter;
    &::before {
      content: 'Chapter ' counter(chapter, upper-roman) '—';
    }
  }
}

h1,
h2,
h3 {
  font-variant: small-caps;
}
