@import '@vivliostyle/theme-base';
@import '@vivliostyle/theme-base/appendix';
@import '@vivliostyle/theme-base/citation';
@import '@vivliostyle/theme-base/endnote';
@import '@vivliostyle/theme-base/equation';
@import '@vivliostyle/theme-base/figure';
@import '@vivliostyle/theme-base/footnote';
@import '@vivliostyle/theme-base/listing';
@import '@vivliostyle/theme-base/math';
@import '@vivliostyle/theme-base/page';
@import '@vivliostyle/theme-base/section';
@import '@vivliostyle/theme-base/sidenote';
@import '@vivliostyle/theme-base/table';
@import '@vivliostyle/theme-base/theorem';
@import '@vivliostyle/theme-base/toc';

/**
 * Theme variables
 */
:root {
  --vs-theme-bunko--num-of-line: 15;
  --vs-theme-bunko--num-of-character: 39;
}

:root {
  --vs-border-width: 0.5px;
  --vs-font-family: '游明朝', 'YuMincho', serif;
  --vs-line-height: 2;
  --vs-spacing-rlh: 0;
  --vs-writing-mode: vertical-rl;

  --vs--heading-font-weight: var(--vs-font-weight);
  --vs--heading-text-indent: 3rem;
  --vs--h1-text-indent: 0;
  --vs--h1-font-size: 1.35rem;
  --vs--h1-font-weight: var(--vs-font-weight-bold);
  --vs--h1-letter-spacing: 0.125em;
  --vs--h1-line-height: 6rem;
  --vs--h2-font-size: 1.18rem;
  --vs--h2-line-height: 4rem;
  --vs--h3-font-size: 1rem;
  --vs--h3-line-height: 2rem;
  --vs--h4-font-size: 0.9375rem;
  --vs--h4-line-height: 2rem;
  --vs--h5-font-size: 0.875rem;
  --vs--h5-line-height: 2rem;
  --vs--h6-font-size: 0.75rem;
  --vs--h6-line-height: 2rem;
  --vs--rt-font-size: 0.5rem;
  /* 段落先頭約物の調整、行末句読点ぶら下げあり */
  --vs--p-hanging-punctuation: first allow-end;
  --vs--p-text-align: justify;
  --vs--p-text-indent: 1em;
  /* 約物の調整、和欧文間スペース */
  --vs--p-text-spacing: space-first allow-end ideograph-alpha ideograph-numeric;
  --vs--figcaption-margin-block: 1rem;

  /* Adding extra 1px to avoid unexpected page feeds */
  --vs-page--width: calc(
    1rem * var(--vs-line-height) * var(--vs-theme-bunko--num-of-line) + 1px
  );
  --vs-page--height: calc(1rem * var(--vs-theme-bunko--num-of-character));
  --vs-page--margin-top: auto;
  --vs-page--margin-bottom: auto;
  --vs-page--margin-left: auto;
  --vs-page--margin-right: auto;
  --vs-page--mbox-font-size: 8.5pt;
  --vs-page--mbox-top-outside-content: counter(page);
  --vs-page--mbox-top-left-margin-top: 8.5mm;
  --vs-page--mbox-top-left-margin-left: 7pt;
  --vs-page--mbox-top-right-margin-top: 8.5mm;
  --vs-page--mbox-top-right-margin-right: 7pt;

  --vs-footnote--font-size: 0.667rem;
  --vs-footnote--line-height: 1rem;
  /* 合印・注番号は縦中横 */
  --vs-footnote--call-text-combine-upright: all;
  --vs-footnote--marker-text-combine-upright: all;
  --vs-footnote--area-before-margin-block: 0.25rem;
  --vs-footnote--area-before-margin-inline: 0 70%;
}

:root:lang(ja) {
  --vs-counter-style: cjk-ideographic;
  --vs-figure--call-content: '図'
    target-counter(attr(href), fig, var(--vs-counter-style));
  --vs-table--call-content: '表'
    target-counter(attr(href), tbl, var(--vs-counter-style));
  --vs-appendix--marker-display: none;
  --vs-citation--marker-display: none;
  --vs-equation--marker-display: none;
  --vs-figure--marker-display: none;
  --vs-listing--marker-display: none;
  --vs-table--marker-display: none;
  --vs-theorem--marker-display: none;
  --vs-figure--marker-content: '図' counter(fig, var(--vs-counter-style)) '　';
  --vs-table--marker-content: '表' counter(tbl, var(--vs-counter-style)) '　';

  --vs-section--counter-style: cjk-ideographic;
  --vs-section--counter-delimiter: '・';
}

@media screen {
  :root {
    --vs--anchor-text-color: darkblue;
    --vs--anchor-text-decoration: none;
  }
}

@media (hover: hover) {
  a:hover {
    --vs--anchor-text-decoration: underline;
  }
}

@media print {
  :root {
    --vs-font-size: 83.33%;
  }
}

h1,
h2 {
  break-after: avoid;
}

figure {
  margin-block: unset;
  margin-inline: unset;
  writing-mode: horizontal-tb;
  max-width: var(--vs-page--width);
  max-height: var(--vs-page--height);
}

figure > :not(picture),
figure > picture > img {
  padding-inline: unset;
  padding-block: unset;
}

/* 縦中横 */
.tcy,
:not(.footnote) > a[href^='http']::after {
  text-combine-upright: all;
}

.upright {
  text-orientation: upright;
}

/* 圏点（ゴマ） */
.sesame,
.sesame_dot {
  font-style: normal;
  text-emphasis-style: sesame;
}

.author {
  text-align: end;
  font-size: 1rem;
  font-weight: var(--vs-font-weight-bold);
  letter-spacing: 0.125em;
}

/* 奥付 */
[role='doc-colophon'] {
  font-size: 0.824rem;
  line-height: 1.5rem;
  margin-block-start: 6rem;
  break-inside: avoid;
}

.footnote,
:not(.footnote) > a[href^='http']::before {
  margin-inline-start: 2rem;
  text-indent: -1em;
}

.footnote::before {
  content: '　';
}

@media screen {
  body {
    max-inline-size: calc(1rem * var(--vs-theme-bunko--num-of-character));
    margin: 2rem;
  }

  figure {
    margin-inline: 1rem;
    max-inline-size: calc(var(--vs-page--width) - 4rem);
    block-size: min(var(--vs-page--height), calc(100vh - 6rem));
  }
}

/* Left pages add the document title next to the page number */
@page :left {
  --vs-page--mbox-top-outside-content: counter(page) '　' env(doc-title);
}
