*,
*::before,
*::after {
  border-color: var(--vs-color-border);
}

html {
  font-family: var(--vs-font-family-body);
  font-feature-settings: var(--vs-font-feature-settings-body);
  font-size: var(--vs-font-size-body);
  font-style: var(--vs-font-style);
  font-weight: var(--vs-font-weight-body);
  line-height: var(--vs-line-height-body);
  letter-spacing: var(--vs-letter-spacing-body);
  background-color: var(--vs-color-background);
  color: var(--vs-color-body);
  -moz-tab-size: var(--vs-tab-size);
  tab-size: var(--vs-tab-size);
  hyphens: var(--vs-hyphens);
  line-break: var(--vs-line-break);
  overflow-wrap: var(--vs-overflow-wrap);
  word-break: var(--vs-word-break);
  column-count: var(--vs-column-count);
  column-gap: var(--vs-column-gap);
  column-width: var(--vs-column-width);
  text-orientation: var(--vs-text-orientation);
  text-underline-offset: var(--vs-text-underline-offset);
  text-underline-position: var(--vs-text-underline-position);
  orphans: var(--vs-orphans);
  widows: var(--vs-widows);
  writing-mode: var(--vs-writing-mode);
  text-spacing: var(--vs-text-spacing-body);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--vs-font-family-heading);
  font-feature-settings: var(--vs-font-feature-settings-heading);
  font-weight: var(--vs-font-weight-heading);
  line-height: var(--vs-line-height-heading);
  letter-spacing: var(--vs-letter-spacing-heading);
  break-inside: avoid;
  text-spacing: var(--vs-text-spacing-heading);
}

code,
kbd,
pre,
samp {
  font-family: var(--vs-font-family-monospace);
  font-feature-settings: var(--vs-font-feature-settings-monospace);
  font-size: var(--vs-font-size-monospace);
  font-weight: var(--vs-font-weight-monospace);
  line-height: var(--vs-line-height-monospace);
  letter-spacing: var(--vs-letter-spacing-monospace);
  text-spacing: var(--vs-text-spacing-monospace);
}

h1 {
  font-size: var(--vs-font-size-h1);
  margin-block-start: var(--vs-margin-h1-block-start);
  margin-block-end: var(--vs-margin-h1-block-end);
  margin-inline-start: var(--vs-margin-h1-inline-start);
  margin-inline-end: var(--vs-margin-h1-inline-end);
}

h2 {
  font-size: var(--vs-font-size-h2);
  margin-block-start: var(--vs-margin-h2-block-start);
  margin-block-end: var(--vs-margin-h2-block-end);
  margin-inline-start: var(--vs-margin-h2-inline-start);
  margin-inline-end: var(--vs-margin-h2-inline-end);
}

h3 {
  font-size: var(--vs-font-size-h3);
  margin-block-start: var(--vs-margin-h3-block-start);
  margin-block-end: var(--vs-margin-h3-block-end);
  margin-inline-start: var(--vs-margin-h3-inline-start);
  margin-inline-end: var(--vs-margin-h3-inline-end);
}

h4 {
  font-size: var(--vs-font-size-h4);
  margin-block-start: var(--vs-margin-h4-block-start);
  margin-block-end: var(--vs-margin-h4-block-end);
  margin-inline-start: var(--vs-margin-h4-inline-start);
  margin-inline-end: var(--vs-margin-h4-inline-end);
}

h5 {
  font-size: var(--vs-font-size-h5);
  margin-block-start: var(--vs-margin-h5-block-start);
  margin-block-end: var(--vs-margin-h5-block-end);
  margin-inline-start: var(--vs-margin-h5-inline-start);
  margin-inline-end: var(--vs-margin-h5-inline-end);
}

h6 {
  font-size: var(--vs-font-size-h6);
  margin-block-start: var(--vs-margin-h6-block-start);
  margin-block-end: var(--vs-margin-h6-block-end);
  margin-inline-start: var(--vs-margin-h6-inline-start);
  margin-inline-end: var(--vs-margin-h6-inline-end);
}

b,
strong {
  font-weight: var(--vs-font-weight-bold);
}

del {
  text-decoration: var(--vs-text-decoration-del);
}

em {
  font-style: var(--vs-font-style-emphasis);
}

big {
  font-size: var(--vs-font-size-big);
}

small {
  font-size: var(--vs-font-size-small);
}

sub {
  font-size: var(--vs-font-size-sub);
  bottom: var(--vs-inset-bottom-sub);
}

sup {
  font-size: var(--vs-font-size-sup);
  top: var(--vs-inset-top-sup);
}

rt {
  font-size: var(--vs-font-size-rt);
}

hr {
  border-color: var(--vs-color-border-hr);
  border-width: 0;
  border-block-start-width: var(--vs-border-width-hr);
  margin-block-start: var(--vs-margin-hr-block-start);
  margin-block-end: var(--vs-margin-hr-block-end);
  margin-inline-start: var(--vs-margin-hr-inline-start);
  margin-inline-end: var(--vs-margin-hr-inline-end);
}

a {
  color: var(--vs-color-link);
  text-decoration: var(--vs-text-decoration-link);
}

a:hover {
  text-decoration: var(--vs-text-decoration-link-hover);
}

p {
  hanging-punctuation: var(--vs-hanging-punctuation);
  text-align: var(--vs-text-align);
  text-align-last: var(--vs-text-align-last);
  margin-block-start: var(--vs-margin-p-block-start);
  margin-block-end: var(--vs-margin-p-block-end);
  margin-inline-start: var(--vs-margin-p-inline-start);
  margin-inline-end: var(--vs-margin-p-inline-end);
}

blockquote {
  writing-mode: var(--vs-writing-mode-blockquote);
  font-size: var(--vs-font-size-blockquote);
  margin-block-start: var(--vs-margin-blockquote-block-start);
  margin-block-end: var(--vs-margin-blockquote-block-end);
  margin-inline-start: var(--vs-margin-blockquote-inline-start);
  margin-inline-end: var(--vs-margin-blockquote-inline-end);
}

figure {
  writing-mode: var(--vs-writing-mode-figure);
  margin-block-start: var(--vs-margin-figure-block-start);
  margin-block-end: var(--vs-margin-figure-block-end);
  margin-inline-start: var(--vs-margin-figure-inline-start);
  margin-inline-end: var(--vs-margin-figure-inline-end);
  text-align: center;
  break-inside: avoid;
}

figure > img {
  image-resolution: var(--vs-image-resolution);
}

figure > figcaption {
  break-inside: avoid;
}

figcaption {
  font-size: var(--vs-font-size-figcaption);
  margin-block-start: var(--vs-margin-figcaption-block-start);
  margin-block-end: var(--vs-margin-figcaption-block-end);
  margin-inline-start: var(--vs-margin-figcaption-inline-start);
  margin-inline-end: var(--vs-margin-figcaption-inline-end);
}

ul,
ol,
dl {
  margin-block-start: var(--vs-margin-list-block-start);
  margin-block-end: var(--vs-margin-list-block-end);
  margin-inline-start: var(--vs-margin-list-inline-start);
  margin-inline-end: var(--vs-margin-list-inline-end);
}

ol ul,
ul ol,
ul ul,
ol ol,
dl dl {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

ul {
  padding-inline-start: var(--vs-padding-list-inline-start);
  list-style-type: var(--vs-list-style-type-ul);
}

ol {
  padding-inline-start: var(--vs-padding-list-inline-start);
  list-style-type: var(--vs-list-style-type-ol);
}

dt {
  display: block;
}

dd {
  margin-inline-start: var(--vs-margin-dd-inline-start);
}

pre {
  writing-mode: var(--vs-writing-mode-pre);
  margin-block-start: var(--vs-margin-pre-block-start);
  margin-block-end: var(--vs-margin-pre-block-end);
  margin-inline-start: var(--vs-margin-pre-inline-start);
  margin-inline-end: var(--vs-margin-pre-inline-end);
}

table {
  max-width: 100%;
  max-height: 100%;
  writing-mode: var(--vs-writing-mode-table);
  border-color: var(--vs-color-border-table);
  margin-block-start: var(--vs-margin-table-block-start);
  margin-block-end: var(--vs-margin-table-block-end);
  margin-inline-start: var(--vs-margin-table-inline-start);
  margin-inline-end: var(--vs-margin-table-inline-end);
  border-block-start-width: var(
    --vs-border-width-table-block-start,
    var(--vs-border-width-table-outer, var(--vs-border-width-table))
  );
  border-block-end-width: var(
    --vs-border-width-table-block-end,
    var(--vs-border-width-table-outer, var(--vs-border-width-table))
  );
  border-inline-start-width: var(
    --vs-border-width-table-inline-start,
    var(--vs-border-width-table-outer, var(--vs-border-width-table))
  );
  border-inline-end-width: var(
    --vs-border-width-table-inline-end,
    var(--vs-border-width-table-outer, var(--vs-border-width-table))
  );
}

th,
td {
  padding-block-start: var(--vs-padding-table-cell-block-start);
  padding-block-end: var(--vs-padding-table-cell-block-end);
  padding-inline-start: var(--vs-padding-table-cell-inline-start);
  padding-inline-end: var(--vs-padding-table-cell-inline-end);
}

tr:not(:last-child) {
  border-block-end-width: var(
    --vs-border-width-table-row,
    var(--vs-border-width-table-cell, var(--vs-border-width-table))
  );
}

thead > tr:last-child {
  border-block-end-width: var(
    --vs-border-width-thead-inner,
    var(--vs-border-width-table-cell, var(--vs-border-width-table))
  );
}

tfoot > tr:first-child {
  border-block-start-width: var(
    --vs-border-width-tfoot-inner,
    var(--vs-border-width-table-cell, var(--vs-border-width-table))
  );
}

th:not(:last-child),
td:not(:last-child) {
  border-inline-end-width: var(
    --vs-border-width-table-column,
    var(--vs-border-width-table-cell, var(--vs-border-width-table))
  );
}

img {
  image-resolution: var(--vs-image-resolution);
}
