:root {
  --style: var(--vs-footnote--counter-style,);
}

.footnote,
[role='doc-footnote'] {
  color: var(--vs-footnote--text-color, var(--vs-text-color));
  font-family: var(--vs-footnote--font-family, var(--vs-font-family));
  font-feature-settings: var(
    --vs-footnote--font-feature-settings,
    var(--vs-font-feature-settings)
  );
  font-kerning: var(--vs-footnote--font-kerning, var(--vs-font-kerning));
  font-size: var(--vs-footnote--font-size, var(--vs-font-size));
  font-stretch: var(--vs-footnote--font-stretch, var(--vs-font-stretch));
  font-style: var(--vs-footnote--font-style, var(--vs-font-style));
  font-synthesis: var(--vs-footnote--font-synthesis, var(--vs-font-synthesis));
  font-variant: var(--vs-footnote--font-variant, var(--vs-font-variant));
  font-variation-settings: var(
    --vs-footnote--font-variation-settings,
    var(--vs-font-variation-settings)
  );
  font-weight: var(--vs-footnote--font-weight, var(--vs-font-weight));
  letter-spacing: var(--vs-footnote--letter-spacing, var(--vs-letter-spacing));
  line-height: var(--vs-footnote--line-height, var(--vs-line-height));
  text-align: var(--vs-footnote--text-align, var(--vs-text-align));
  text-spacing: var(--vs-footnote--text-spacing, var(--vs-text-spacing));
  word-spacing: var(--vs-footnote--word-spacing, var(--vs-word-spacing));
}

.footnote::footnote-call,
[role='doc-footnote']::footnote-call {
  content: var(--vs-footnote--call-content);
  font-size: var(--vs-footnote--call-font-size);
  margin-inline: var(--vs-footnote--call-margin-inline);
  inset-block-start: var(--vs-footnote--call-inset-block-start);
}

.footnote::footnote-marker,
[role='doc-footnote']::footnote-marker {
  content: var(--vs-footnote--marker-content);
  margin-inline: var(--vs-footnote--marker-margin-inline);
}

.footnote,
[role='doc-footnote'] {
  counter-increment: vs-counter-footnote;
}

.footnote::footnote-call,
[role='doc-footnote']::footnote-call {
  vertical-align: baseline;
  position: relative;
}

@media print {
  .footnote,
  [role='doc-footnote'] {
    margin-block: var(--vs-footnote--item-margin-block);
    margin-inline: var(--vs-footnote--item-margin-inline);
  }

  .footnote,
  [role='doc-footnote'] {
    float: footnote;
  }
}

@page {
  @footnote {
    margin-block: var(--vs-footnote--area-margin-block);
  }
  @footnote ::before {
    display: var(--vs-footnote--area-before-display);
    border-block-start-style: var(
      --vs-footnote--area-before-border-style-block-start,
      solid
    );
    border-block-start-color: var(
      --vs-footnote--area-before-border-color-block-start,
      var(--vs--hr-border-color, var(--vs-border-color))
    );
    border-block-start-width: var(
      --vs-footnote--area-before-border-width-block-start,
      var(--vs--hr-border-width-block-start, var(--vs-border-width))
    );
    margin-block: var(--vs-footnote--area-before-margin-block);
    margin-inline: var(--vs-footnote--area-before-margin-inline);
  }
}
