:root {
  --vs-section--anchor-text-decoration: none;
  --vs-section--anchor-text-decoration-on-hover: underline;
  --vs-section--counter-delimiter: '.';
  --vs-section--counter-style: decimal;
  --vs-section--call-display: inline;
  --vs-section--call-content:
    '§'
    target-counters(
      attr(href),
      sections,
      var(--vs-section--counter-delimiter),
      var(--vs-section--counter-style)
    );
  --vs-section--call-margin-inline: 0;
  --vs-section--marker-display: none;
  --vs-section--marker-content:
    counters(
      sections,
      var(--vs-section--counter-delimiter),
      var(--vs-section--counter-style)
    );
  --vs-section--marker-margin-inline: 1ch;
}

:lang(ja) {
  --vs-section--call-content:
    target-counters(
      attr(href),
      sections,
      var(--vs-section--counter-delimiter),
      var(--vs-section--counter-style)
    )
    '章';
}

section:has(> :is(h1, h2, h3, h4, h5, h6):first-child) {
  counter-increment: sections;
}

section > :is(h1, h2, h3, h4, h5, h6):first-child + * {
  counter-reset: sections;
}

section > :is(h1, h2, h3, h4, h5, h6):before {
  content: var(--vs-section--marker-content);
  display: var(--vs-section--marker-display);
  margin-inline-end: var(--vs-section--marker-margin-inline);
}

a[data-ref='sec'] {
  text-decoration: var(--vs-section--anchor-text-decoration);
  margin-inline: var(--vs-section--call-margin-inline);
}

a[data-ref='sec']:hover {
  text-decoration: var(--vs-section--anchor-text-decoration-on-hover);
}

a[data-ref='sec']::before {
  content: var(--vs-section--call-content);
  display: var(--vs-section--call-display);
}

/**
 * Single counters (section/subsection/subsubsection) for backward compatibility
 */

section.level1 {
  counter-increment: section;
  counter-reset: subsection subsubsection;
}

section.level2 {
  counter-increment: subsection;
  counter-reset: subsubsection;
}

section.level3 {
  counter-increment: subsubsection;
}
