:root {
  --delimiter: var(--vs-section--counter-delimiter,);
  --style: var(--vs-section--counter-style,);
}

a[data-ref='sec'] {
  text-decoration: var(--vs-section--anchor-text-decoration);
}

a[data-ref='sec'] {
  margin-inline: var(--vs-section--call-margin-inline);
}

a[data-ref='sec']::before {
  content: var(--vs-section--call-content);
  display: var(--vs-section--call-display);
}

section > h1:first-child::before {
  content: var(
    --vs-section--h1-marker-content,
    var(--vs-section--marker-content)
  );
  display: var(
    --vs-section--h1-marker-display,
    var(--vs-section--marker-display)
  );
  margin-inline-end: var(
    --vs-section--h1-marker-margin-inline-end,
    var(--vs-section--marker-margin-inline-end)
  );
}

section > h2:first-child::before {
  content: var(
    --vs-section--h2-marker-content,
    var(--vs-section--marker-content)
  );
  display: var(
    --vs-section--h2-marker-display,
    var(--vs-section--marker-display)
  );
  margin-inline-end: var(
    --vs-section--h2-marker-margin-inline-end,
    var(--vs-section--marker-margin-inline-end)
  );
}

section > h3:first-child::before {
  content: var(
    --vs-section--h3-marker-content,
    var(--vs-section--marker-content)
  );
  display: var(
    --vs-section--h3-marker-display,
    var(--vs-section--marker-display)
  );
  margin-inline-end: var(
    --vs-section--h3-marker-margin-inline-end,
    var(--vs-section--marker-margin-inline-end)
  );
}

section > h4:first-child::before {
  content: var(
    --vs-section--h4-marker-content,
    var(--vs-section--marker-content)
  );
  display: var(
    --vs-section--h4-marker-display,
    var(--vs-section--marker-display)
  );
  margin-inline-end: var(
    --vs-section--h4-marker-margin-inline-end,
    var(--vs-section--marker-margin-inline-end)
  );
}

section > h5:first-child::before {
  content: var(
    --vs-section--h5-marker-content,
    var(--vs-section--marker-content)
  );
  display: var(
    --vs-section--h5-marker-display,
    var(--vs-section--marker-display)
  );
  margin-inline-end: var(
    --vs-section--h5-marker-margin-inline-end,
    var(--vs-section--marker-margin-inline-end)
  );
}

section > h6:first-child::before {
  content: var(
    --vs-section--h6-marker-content,
    var(--vs-section--marker-content)
  );
  display: var(
    --vs-section--h6-marker-display,
    var(--vs-section--marker-display)
  );
  margin-inline-end: var(
    --vs-section--h6-marker-margin-inline-end,
    var(--vs-section--marker-margin-inline-end)
  );
}

section:has(> h1:first-child) {
  counter-increment: vs-counter-sections vs-counter-sec-h1;
  counter-reset: vs-counter-sec-h2;
  break-after: var(--vs-section--h1-break-after);
  break-before: var(--vs-section--h1-break-before);
}

section:has(> h2:first-child) {
  counter-increment: vs-counter-sections vs-counter-sec-h2;
  counter-reset: vs-counter-sec-h3;
  break-after: var(--vs-section--h2-break-after);
  break-before: var(--vs-section--h2-break-before);
}

section:has(> h3:first-child) {
  counter-increment: vs-counter-sections vs-counter-sec-h3;
  counter-reset: vs-counter-sec-h4;
  break-after: var(--vs-section--h3-break-after);
  break-before: var(--vs-section--h3-break-before);
}

section:has(> h4:first-child) {
  counter-increment: vs-counter-sections vs-counter-sec-h4;
  counter-reset: vs-counter-sec-h5;
  break-after: var(--vs-section--h4-break-after);
  break-before: var(--vs-section--h4-break-before);
}

section:has(> h5:first-child) {
  counter-increment: vs-counter-sections vs-counter-sec-h5;
  counter-reset: vs-counter-sec-h6;
  break-after: var(--vs-section--h5-break-after);
  break-before: var(--vs-section--h5-break-before);
}

section:has(> h6:first-child) {
  counter-increment: vs-counter-sections vs-counter-sec-h6;
  break-after: var(--vs-section--h6-break-after);
  break-before: var(--vs-section--h6-break-before);
}

section > h1:first-child + section:has(> h2:first-child) {
  counter-reset: vs-counter-sections vs-counter-sec-h3;
}

section > h2:first-child + section:has(> h3:first-child) {
  counter-reset: vs-counter-sections vs-counter-sec-h4;
}

section > h3:first-child + section:has(> h4:first-child) {
  counter-reset: vs-counter-sections vs-counter-sec-h5;
}

section > h4:first-child + section:has(> h5:first-child) {
  counter-reset: vs-counter-sections vs-counter-sec-h6;
}

section > h5:first-child + section:has(> h6:first-child) {
  counter-reset: vs-counter-sections;
}
