:root {
  --vs-section--anchor-text-decoration: none;
  --vs-section--counter-delimiter: '.';
  --vs-section--counter-style: decimal;
  --vs-section--call-display: inline;
  --vs-section--call-content: '§'
    target-counters(
      attr(href),
      vs-counter-sections,
      var(--vs-section--counter-delimiter),
      var(--vs-section--counter-style)
    );
  --vs-section--call-margin-inline: 0;
  --vs-section--marker-display: none;
  --vs-section--marker-content: counters(
    vs-counter-sections,
    var(--vs-section--counter-delimiter),
    var(--vs-section--counter-style)
  );
  --vs-section--marker-margin-inline-end: 1ch;
  --vs-section--root-counter-reset: vs-counter-sections
    var(--vs-section--root-counter-sections,) vs-counter-sec-h1
    var(--vs-section--root-counter-sec-h1,) vs-counter-sec-h2
    var(--vs-section--root-counter-sec-h2,) vs-counter-sec-h3
    var(--vs-section--root-counter-sec-h3,) vs-counter-sec-h4
    var(--vs-section--root-counter-sec-h4,) vs-counter-sec-h5
    var(--vs-section--root-counter-sec-h5,) vs-counter-sec-h6
    var(--vs-section--root-counter-sec-h6,);
}

@media (hover: hover) {
  a[data-ref='sec']:hover {
    --vs-section--anchor-text-decoration: underline;
  }
}

@var section {
  @var anchor {
    a[data-ref='sec'] {
      text-decoration: ;
    }
  }

  @var call {
    a[data-ref='sec'] {
      margin-inline: ;
    }

    a[data-ref='sec']::before {
      content: ;
      display: ;
    }
  }
}

@var section {
  @var h1-marker, marker {
    section > h1:first-child::before {
      content: ;
      display: ;
      margin-inline-end: ;
    }
  }

  @var h2-marker, marker {
    section > h2:first-child::before {
      content: ;
      display: ;
      margin-inline-end: ;
    }
  }

  @var h3-marker, marker {
    section > h3:first-child::before {
      content: ;
      display: ;
      margin-inline-end: ;
    }
  }

  @var h4-marker, marker {
    section > h4:first-child::before {
      content: ;
      display: ;
      margin-inline-end: ;
    }
  }

  @var h5-marker, marker {
    section > h5:first-child::before {
      content: ;
      display: ;
      margin-inline-end: ;
    }
  }

  @var h6-marker, marker {
    section > h6:first-child::before {
      content: ;
      display: ;
      margin-inline-end: ;
    }
  }
}

section:has(> h1:first-child) {
  counter-increment: vs-counter-sections vs-counter-sec-h1;
  counter-reset: vs-counter-sec-h2;

  @var section.h1 {
    break-after: ;
    break-before: ;
  }
}

section:has(> h2:first-child) {
  counter-increment: vs-counter-sections vs-counter-sec-h2;
  counter-reset: vs-counter-sec-h3;

  @var section.h2 {
    break-after: ;
    break-before: ;
  }
}

section:has(> h3:first-child) {
  counter-increment: vs-counter-sections vs-counter-sec-h3;
  counter-reset: vs-counter-sec-h4;

  @var section.h3 {
    break-after: ;
    break-before: ;
  }
}

section:has(> h4:first-child) {
  counter-increment: vs-counter-sections vs-counter-sec-h4;
  counter-reset: vs-counter-sec-h5;

  @var section.h4 {
    break-after: ;
    break-before: ;
  }
}

section:has(> h5:first-child) {
  counter-increment: vs-counter-sections vs-counter-sec-h5;
  counter-reset: vs-counter-sec-h6;

  @var section.h5 {
    break-after: ;
    break-before: ;
  }
}

section:has(> h6:first-child) {
  counter-increment: vs-counter-sections vs-counter-sec-h6;

  @var section.h6 {
    break-after: ;
    break-before: ;
  }
}

section > h1:first-child + section:has(> h2:first-child) {
  counter-reset: vs-counter-sections vs-counter-sec-h3;
}

section > h2:first-child + section:has(> h3:first-child) {
  counter-reset: vs-counter-sections vs-counter-sec-h4;
}

section > h3:first-child + section:has(> h4:first-child) {
  counter-reset: vs-counter-sections vs-counter-sec-h5;
}

section > h4:first-child + section:has(> h5:first-child) {
  counter-reset: vs-counter-sections vs-counter-sec-h6;
}

section > h5:first-child + section:has(> h6:first-child) {
  counter-reset: vs-counter-sections;
}
