@define {
  :root {
    --vs-citation--call-content: '['
      target-counter(
        attr(href),
        vs-counter-cite,
        var(--vs-citation--counter-style, var(--vs-counter-style))
      )
      ']';
    --vs-citation--item-margin-block: 0;
    --vs-citation--item-padding-inline-start: 0;
    --vs-citation--items-margin-block: var(--vs--lists-margin-block);
    --vs-citation--items-padding-inline-start: var(
      --vs--ol-padding-inline-start,
      var(--vs--lists-padding-inline-start)
    );
    --vs-citation--marker-content: '['
      counter(
        vs-counter-cite,
        var(--vs-citation--counter-style, var(--vs-counter-style))
      )
      ']';
    --vs-citation--marker-display: inline;
    --vs-citation--marker-inset-inline-start: -2rem;
    --vs-citation--root-counter-reset: vs-counter-cite
      var(--vs-citation--root-counter-cite,);
  }

  @media screen {
    :root {
      --vs-citation--call-content: '[???]';
    }
  }
}

@var citation {
  @var call {
    a:is([data-ref='cite'], [role='doc-biblioref'])::before {
      content: ;
      display: ;
    }
  }

  @var items {
    ol.cite-items,
    [role='doc-bibliography'] :is(ol, ul) {
      border-block-end-color: var(--vs-border-color);
      border-block-end-style: ;
      border-block-end-width: var(--vs-border-width);
      border-block-start-color: var(--vs-border-color);
      border-block-start-style: ;
      border-block-start-width: var(--vs-border-width);
      border-inline-end-color: var(--vs-border-color);
      border-inline-end-style: ;
      border-inline-end-width: var(--vs-border-width);
      border-inline-start-color: var(--vs-border-color);
      border-inline-start-style: ;
      border-inline-start-width: var(--vs-border-width);
      color: ;
      font-size: ;
      hyphens: ;
      line-height: ;
      margin-block: ;
      padding-block: ;
      padding-inline-start: ;
    }
  }

  @var item {
    ol.cite-items > li,
    [role='doc-bibliography'] li {
      font-family: ;
      font-size: ;
      hyphens: ;
      line-height: ;
      margin-block: ;
      padding-inline-start: ;
      text-align: ;
      text-indent: ;
    }
  }

  @var marker {
    ol.cite-items > li::before,
    [role='doc-bibliography'] li::before {
      color: ;
      content: ;
      display: ;
      position: absolute;
      inset-inline-start: ;
      margin-inline: ;
    }
  }
}

ol.cite-items {
  list-style: none;
}

ol.cite-items > li,
[role='doc-bibliography'] li {
  counter-increment: vs-counter-cite;
  position: relative;
}
