@var footnote {
  @var counter {
    :root {
      --style: ;
    }
  }
}

@var footnote-, * {
  .footnote,
  [role='doc-footnote'] {
    color: ;
    font-family: ;
    font-feature-settings: ;
    font-kerning: ;
    font-size: ;
    font-stretch: ;
    font-style: ;
    font-synthesis: ;
    font-variant: ;
    font-variation-settings: ;
    font-weight: ;
    letter-spacing: ;
    line-height: ;
    text-align: ;
    text-spacing: ;
    word-spacing: ;
  }
}

@var footnote {
  @var call {
    .footnote::footnote-call,
    [role='doc-footnote']::footnote-call {
      content: ;
      font-size: ;
      margin-inline: ;
      inset-block-start: ;
    }
  }

  @var marker {
    .footnote::footnote-marker,
    [role='doc-footnote']::footnote-marker {
      content: ;
      margin-inline: ;
    }
  }
}

.footnote,
[role='doc-footnote'] {
  counter-increment: vs-counter-footnote;
}

.footnote::footnote-call,
[role='doc-footnote']::footnote-call {
  vertical-align: baseline;
  position: relative;
}

@media print {
  @var footnote.item {
    .footnote,
    [role='doc-footnote'] {
      margin-block: ;
      margin-inline: ;
    }
  }

  .footnote,
  [role='doc-footnote'] {
    float: footnote;
  }
}

@var footnote {
  @page {
    @var area {
      @footnote {
        margin-block: ;
      }
    }

    @var area-before {
      @footnote ::before {
        display: ;
        border-block-start-style: solid;
        border-block-start-color: var(
          --vs--hr-border-color,
          var(--vs-border-color)
        );
        border-block-start-width: var(
          --vs--hr-border-width-block-start,
          var(--vs-border-width)
        );
        margin-block: ;
        margin-inline: ;
      }
    }
  }
}
