@var table {
  @var . {
    :root {
      --counter-style: ;
      --label: ;
    }
  }

  @var call {
    a[data-ref='tbl']::before {
      content: ;
      display: ;
    }
  }

  @var marker {
    figure:is(.tbl, :has(table)) figcaption::before,
    table caption::before,
    .tbl-caption::before {
      content: ;
      display: ;
      margin-inline: ;
    }
  }
}

figure:is(.tbl, :has(table)),
table:has(caption),
.tbl-caption {
  counter-increment: vs-counter-tbl;
}
